.email-background{
  background: #1d2226;
  padding: 10px;
}

.email-container{
  max-width: 500px;
  background: white;
  font-family: sans-serif;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px;
  text-align: center;
}

img{
  max-width: 100%;
}

p{
  margin: 20px;
  font-size: 18px;
  font-weight: 300;
  text-align: justify;;
  color: #666;
  line-height: 1.5;
}

.cta{
  text-align: center;
  margin: 20px auto;
  display: inline-block;
  background: #18bc9c;
  color: #fafafa;
  padding: 10px 20px 10px;
  border-radius: 5px;
}

.cta:hover{
  background: #11856e;

}

.cta a{
  color: #fafafa;
}

footer{
  padding: 16px;
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;

  background: #1d2226;
}


footer a{
  color: #666;
}

a{
  text-decoration: none;
  cursor: pointer;
}
